[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "wangoon.github.io"]
	path = wangoon.github.io
	url = git@github.com:wangoon/wangoon.github.io.git
